[submodule "backend"]
	path = backend
	url = https://github.com/Goosterhof/brick-inventory-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Goosterhof/brick-inventory-frontend.git
